@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600;700&family=Inter:wght@400;500;700;800&display=swap");

body {
  background-color: #eff0f6;
  font-size: 1.4em;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: Dynapuff;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blob-left {
  order: 1;
  height: 150px;
  width: 100%;
  background-color: #4d3d83;
  border-radius: 0% 0% 100% 72% / 0% 0px 68% 78%;
}
.blob-right {
  order: 3;
  height: 150px;
  width: 100%;
  background-color: #409a56;
  border-radius: 50% 70% 0% 0% / 63% 74px 0% 0%;
}

.start-container {
  order: 2;
  display: flex;
  flex-direction: column;
}

.startBtn {
  background-color: #3b90d0;
  color: white;
  border-radius: 10px;
  padding: 0.7em 2.5em;
  font-size: 0.8em;
  border: none;
  letter-spacing: 0.1em;
}

.settings-el {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.startBtn:hover {
  background-color: #216aa1;
}

div.rdn-control.dropdown {
  background-color: #813683;
  color: white;
  border-radius: 10px;
  padding: 0.7em 2.5em;
  font-size: 0.8em;
  border: none;
  text-align: center;
  cursor: pointer;
}

div.rdn-control.dropdown:hover {
  background-color: #703272;
}

.rdn-drop.dropdown.is-open::-webkit-scrollbar {
  display: none;
}

div.rdn-drop.dropdown.is-open {
  border-radius: 10px;
}

div.rdn-drop-menu-option {
  background-color: #813683;
  color: white;
  text-align: center;
}

div.rdn-drop-menu-option:hover {
  background-color: #703272;
}
div.rdn-drop-menu-option.is-selected {
  background-color: #813683;
  color: white;
}
div.rdn-drop-menu-option.is-selected:hover {
  background-color: #6e3170;
}

.rdn-control-arrow {
  display: none;
}

.submitBtn {
  padding: 1em 2em;
  border-radius: 1em;
  margin: 1em 0 1em;
  width: 100%;
  background-color: #813683;
  border: none;
  -webkit-box-shadow: 5px 5px 12px -6px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 5px 12px -6px rgba(0, 0, 0, 0.44);
}

.after-div {
  width: 100%;
}

.home {
  margin-top: 0;
  background-color: rgb(134, 115, 80);
}

.newGame {
  background-color: rgb(91, 162, 53);
}

.result-el {
  margin-bottom: 0.5em;
}

.quiz-container {
  display: flex;
  order: 2;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2em;
}

.question-div {
  width: 100%;
  font-size: 0.7em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(163, 163, 174, 0.526);
}

.question-div:last-child {
  border-bottom: none;
}

.answers-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  font-weight: bold;
}

.answer {
  border: 2px solid #293264;
  color: #293264;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em 1em;
}

/*MEDIA QUERIES */

/* MIN 650 */

@media (min-width: 650px) {
  .container {
    width: 100vw;
    height: auto;
    align-items: center;
  }

  .start-container {
    align-items: center;
  }

  .answers-div {
    flex-direction: row;
  }

  .after-div {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .after-div button {
    width: 30%;
  }

  .newGame {
    margin-top: 0;
  }
}

/* MIN 1000 */

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
    align-items: stretch;
  }
  .start-container {
    justify-content: center;
  }

  .quiz-container {
    max-width: 50%;
  }

  .blob-left,
  .blob-right {
    width: 300px;
    height: auto;
    border-radius: 43% 0% 0% 21% / 66% 0px 0% 92%;
  }

  .blob-left {
    transform: rotate(180deg);
  }
}
